<div class="top-hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-lg-7 text-center">

        <p class="top-badge mb-3">Quiet sauna community</p>

        <h1 class="top-title mb-3">
          「何も話さない時間」が、<br class="d-none d-sm-block">
          いちばん整う。
        </h1>

        <p class="top-lead mb-4">
          黙浴・静かなサウナを愛する人たちが<br>
          体験を共有する場所、それが <span class="brand">凪</span> です。
        </p>

        <div class="top-actions">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-nagi-primary" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-nagi-ghost" %>
        </div>

      </div>
    </div>
  </div>
</div>

